<!DOCTYPE html>
<html>
    <head>
        <link href="styles/style.css" rel="stylesheet">
        <title>Home | John Atkinson</title>
        <meta name="description" content="I am a 13 year old on the internet who's physical body is in Mississippi who likes to create stuff for the internet.">
        <meta name="keywords" content="john atkinson, websites, developer, development, programming">

    </head>
    <body>
        <nav>
            <a href="/">Home</a> 
            <a href="/things-ive-made/">Things I've Made</a> 
            <a href="/blog/">Blog</a> 
            <a href="/guides/">Guides</a>
            <a href="https://github.com/DrBeta" rel="me">GitHub</a>

          </nav>
          {{ content }}

    </body>
</html>